.addPost {
    height: 660px;
    padding: 15px 25px;
    background-color: #FDFDFD;
    margin-bottom: 10px;
    box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}


.item {
    border: 2px solid #F4F2F2;
}

.textarea {
    width: 450px;
    height: 45px;
    resize: none;
    border: none;
    color: #8c8b8b;
}




/*.postsBlock {*/
/*padding: 10px;*/
/*}*/
