@import '../../assets/common/styles/sass/variables';

//.darkMode {
//    --background-color: #444444;
//    --text-color: #fff;
//}

.header {
    width: 100%;
    color: $textColor;
    background-color: $Color;
    box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.1);
    height: 100px;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    .container {
        width: 100%;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            display: flex;
            align-items: center;
            h1 {
                color: #2254f5;
            }
        }
        .loginInfo {
            display: flex;
            align-items: center;
            text-align: center;
            span {
                margin: 0 5px;
                font-weight: 500;
            }
            .logoutBtn {
                border: none;
                background-color: transparent;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }


    }


}

