
.nav {
    grid-area: n;
    background-color:darkslategray;
    padding: 20px;
}

.item  {
    color: darkgray;
text-decoration: none;
}

.active {
    color: wheat;
}

.friends{
    padding: 50px 1px;
    color: red;
    text-decoration: none;
}