
.nav {
    grid-area: n;
    background-color: yellowgreen;
    padding: 20px;
}

.item  {
    color: white;
text-decoration: none;
}

.active {
    color: gold;
}

.friends{
    padding: 50px 1px;
    color: white;
    text-decoration: none;
}