
.darkMode {
    --background-color: #444444;
    --text-color: #fff;
}

.dialogContainer{
    display: flex;
}
.post {
    margin-bottom: 20px;
    padding: 25px;

    background-color: var(--background-color);

}

.info {
    display: grid;
    grid-template-areas:
          "avatar name"
          "avatar date";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;

    margin-bottom: 10px;
}

.avatar {
    grid-area: avatar;
}

.avatar img {
    border-radius: 25px;
    width: 50px;
}

.name {
    font-size: 15px;
    font-weight: 500;
    color: #088dcd;
}

.date {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}

