
.darkMode {
    --background-color: #444444;
    --text-color: #fff;
}

.dialogs {
    display: flex;
    flex-direction: column;
}

.items {

}

.dialog {
    /*border: 1px solid black;*/
    max-width: 200px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    margin: 7px;
    background-color: white;
}


.message {
    display: flex;
    flex-direction: column;


}

.dialogsItems {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.dialogsItems .active {

    color: wheat;
}

.buttonMessages {
    max-width: 60px;
    max-height: 25px;

}

.messagesTextBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}