.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active{
    color: wheat;
}

.buttonMessages{
    max-width: 60px;
    max-height: 25px;

}

.messagesTextBox{

}